#root {
  /*   max-width: 100vw;
  max-width: 100dvw;
  min-width: 100vw;
  min-width: 100dvw;*/
  /* min-height: 10vh; */
  /* max-height: 10vh; */
  margin: auto;
  text-align: center;


}

.appsize {
  transform: scale(0.75);
  transform-origin: top left;
  /* width: 100vw; */
  width: 133.33%;
  /* max-width: 100px; */
  margin: auto;
  /* margin-left: auto; */
  /* margin-right: auto; */

  /* margin-bottom: -20%; */

}




.top-container {
  /* position: sticky; */
  background-image: url("../src/assets/cover10.png");
  /* background-repeat: no-repeat;
  background-attachment: fixed; */
  background-size: 100%;
  /* transform: scale(1); */
  /* background-color: #eeeded; */
  padding-top: 1%;
  padding-bottom: 10%;
  z-index: 100;
  padding-left: 12%;
  padding-right: 12%;
  /* max-width: 100vw;
  max-width: 100dvw;
  min-width: 100vw;
  min-width: 100dvw; */
}


.read-the-docs {
  color: #888;
}

.avatar {
  background-color: #2196F3;
  color: #ffffff
}

.logoImg {
  width: 220px;
}

.chartDiv {
  background-color: #EFF3F8;
  padding: 4%;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 15%;
}

.avatarLogout {
  display: flex;
  gap: 10px;
  align-items: center
}

.chart {
  /* min-width: 50vw; */
  width: 70vw;
  display: flex;
  justify-content: center;

}

.filters {
  padding: 2%;
  margin-top: -6%;
  /* background-color: white; */
  /* color: #053B50; */
  min-width: 70vw;
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); */

}

.vacations {
  /* background-color: #EFF3F8; */
  margin-bottom: 15%;
  background-color: white;
  /* background-image: url("../src/assets/background.png"); */
  background-size: 100vw;
  /* Adjust to your preferred size */
  /* background-repeat: no-repeat; */
  /* Prevent image repetition */
  /* background-attachment: fixed; */

}

.vacationCard {
  background-color: #FFFFFF;
  height: 550px;
  border-radius: 10px;
  box-shadow: 2px 5px 7px 5px rgba(0, 0, 0, 0.2)
}

.destination {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  z-index: 1;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6)
}

.cardDate {
  position: relative;
  margin-bottom: 1%;
  background-color: #0F3244;
  padding-top: 3%;
  padding-bottom: 3%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 1;
}

.scroller {
  padding-left: 5%;
  text-align: left;
  color: #495057;
  position: relative;
  margin-top: -8px;
  width: 350px;
  height: 160px;
  background-color: #FFFFFF;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 2;
}

.heartBtn .pi {
  font-size: 20px;
}

.vacationPrice {
  /* border-radius: 10px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0.1%; */
  margin-top: 1%;
  text-align: right;
  /* background-color: #176B87; */
  margin-right: 3%;
  margin-left: 3%;
  font-weight: 300;
  padding-left: 2%;
  padding-right: 2%;
}

.followerDiv {
  padding-left: 7%;
  padding-right: 5%;
  margin-top: -3%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vacationList {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); */
  /* max-width: 100vw;
  max-width: 100dvw;
  min-width: 100vw;
  min-width: 100dvw;
  margin: auto;
  transform-origin: top left; */

}

.mainLogin {
  display: flex;
  justify-content: center;

}

.mainSignin {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}

.formImgSignin {
  height: 80%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.formSignIn {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 80%;
  background-color: #053B50;
  padding: 50px;
}

.formlogin {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 40%;
  background-color: #053B50;
  padding: 25px
}

.formImglogin {
  height: 40%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}


.mainVacation {
  width: 80vw;

}

.mainVacationUser {
  margin-top: -3%;
  width: 80vw;
}

.vacationsAdmin {
  background-color: #EFF3F8;
  color: #495057;
  display: flex
}

.logoutB {
  background-color: #176B87;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  color: white;
  border: 0px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  font-weight: 300;
  border-radius: 50px
}

.logoutB:hover {
  background-color: #2f85a1;
}

.speedDial {
  /* padding: 2%; */
  width: 35%;
  display: flex;
  justify-content: center;
  position: relative;
  top: 0
}

.links {
  color: #F59E0B;
  cursor: pointer;
}

.links:hover {
  color: #b57302;
  cursor: pointer;
}

.buttons {
  background-color: #176B87;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  color: white;
  border: 0px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  font-weight: 300;
}

.buttons:hover {
  background-color: #2f85a1;
}

.welcome {
  padding-top: 3%;
  font-size: larger;
  font-weight: 400;
  /* color: #0F3244; */
  color: #0F3244;

}

.fieldset {
  width: "100%";
  background-color: #9bd0e2;
  color: black
}




.avatarDiv {
  margin-top: -8%;
}

.addNewVacationDiv {
  /* background-color: #053B50; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
  color: #495057;
  padding-top: 1%;
  padding-bottom: 1%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.addV {
  font-size: larger;
  font-weight: 500;
}


.whyUs {
  background-color: #ffffff;
  color: #0F3244;
  height: 40vh;
  margin-top: -1.5%;
  margin-bottom: 5%;
}

.innerWhyUS {
  display: flex;
  justify-content: space-evenly;
  /* flex-direction: row */
}

.footer {
  background-color: #0F3244;
  color: #fff;
  padding: 40px 0;
}

.container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.slider {
  margin-bottom: -20%;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo img {
  width: 100px;
  /* Adjust the logo width as needed */
  height: auto;
  margin-right: 20px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-right: 20px;
  display: inline;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.footer-social ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-social li {
  margin-right: 20px;
  display: inline;
}

.footer-social a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
}

.addAndEditVacationPage {
  background-color: #0F3244;
  padding: 2%;
  border-radius: 10px;
  margin-bottom: 15%;
}


@media (max-width: 768px) {
  #root {
    max-width: 70vw;
    max-width: 70dvw;
    min-width: 70vw;
    min-width: 70dvw;
    max-height: 1000vh;
    /* min-height: 100vh; */
    margin: auto;
    text-align: center;
    /* margin-bottom: 2%; */
  }



  .appsize {
    transform: scale(1);
    /* 75% scaling */
    /* transform-origin: top left; */
    /* Maintain top-left corner as the scaling origin */
    width: 100%;
    /* Compensate for the scaling by increasing width */
    /* height: 100%; */
    /* Compensate for the scaling by increasing height */
  }

  .mainLogin {
    display: flex;
    justify-content: center;
    margin-bottom: 50%;
    flex-direction: column-reverse;

  }



  /* .formImglogin {
    display: none;
  } */

  .mainSignin {
    display: flex;
    justify-content: center;
    margin-bottom: 50%;
    flex-direction: column-reverse
  }



  /* .forms { */
  /* display: flex;
    flex-direction: column-reverse; */

  /* width: 70%; */
  /* } */

  .formSignIn {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    width: 100%;
    height: 100%;
    background-color: #053B50;
    padding: 50px;
  }

  .formImgSignin {
    width: 100%;
    height: 100%;

  }


  .formlogin {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 100%;

  }

  .formImglogin {
    width: 100%;
    height: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }



  .top-container {
    margin-left: -21.5%;
    margin-right: -21.5%;
    /* position: sticky; */
    /* top: 0; */
    /* background-color: #EEEEEE; */
    padding-top: 1em;
    z-index: 100;
    background-size: 170%;
  }

  .addNewVacationDiv {
    margin-top: 2%;
    /* background-color: #C0C0C0;
    color: #495057;
    padding-top: 1%;
    padding-bottom: 1%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
  }




  .speedDial {
    /* right: 50px;
    top: 35px; */
    width: 100%;
    position: unset;
  }

  .adminSpeedial {
    padding-left: 5%;
  }

  .vacations {
    margin-bottom: 18%;
    /* background-color: #D0DFEC; */
  }

  .vacationsAdmin {
    /* background-color: #D0DFEC; */
    color: #495057;
    display: flex;

  }

  .addAndEditVacationPage {
    background-color: #0F3244;
    padding: 10%;
    border-radius: 10px;
    margin-bottom: 50%
  }




  .addV {
    font-size: medium;
    font-weight: 500;
  }

  .mainVacation {
    width: 100vw;
  }

  .mainVacationUser {
    width: 100vw;
  }


  .filters {

    /* margin-top: -15%; */
    z-index: 102;
    /* background-color: #053B50; */
    /* color: white; */
    /* min-width: 350px; */
    max-width: 100vw;
    min-width: 100vw;
    font-size: 70%;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }


  .checkbox {
    display: flex;
    align-items: center
  }

  .chart {
    min-width: 370px;
  }

  .logoImg {
    display: flex;
    width: 130px;
    /* background-color: #3B82F6; */
    padding: 2%;
    /* border-radius: 10px; */
  }

  .welcome {
    display: none;
    padding-top: 30%;
    margin-bottom: 5%;
    padding-right: 48%;
    font-size: 80%;
    font-weight: 500;
    height: 100px;
    color: #0F3244;
    width: 100%;
  }

  .avatarDiv {
    margin-top: -1px;
  }

  .avatar {
    font-size: 1.5rem;
    width: 50%;

  }



  .fieldset {
    width: 90%;
  }

  .logoutB {
    width: 100%;
    height: 100%;
    font-size: small;
    display: flex;
    align-items: center;
    border-radius: 50px
  }

  .tabMenu {
    margin-bottom: 12%;
  }

  /* .tabs { */
  /* margin-top: 12%; */
  /* margin-bottom: 10%; */
  /* margin-top: "10%" */
  /* } */


  .chartDiv {
    background-color: #EFF3F8;
    padding: 4%;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 50%;
  }

  .footer {
    background-color: #0F3244;
    color: #fff;
    /* padding: 50px 0; */
    /* height: max-content; */
    margin: -21.5%;
    padding-top: 30%;
    padding-left: 3%;
    /* padding-right: 15%; */
  }

  /* .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 50vw;
  } */

  .container {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .footer-content {
    margin-bottom: 20px;
    flex-direction: column;
    gap: 5px;
  }

  .whyUs {
    background-color: #ffffff;
    color: #0F3244;
    height: 40vh;
    height: 9%;
    font-size: small;
  }

  .innerWhyUS {
    display: flex;
    gap: 10px;
    flex-direction: column
  }

  .slider {
    margin-bottom: 35%;
  }

}

/* .tabMenu .p-menuitem-text {
  color: #3B82F6
} */

/* .tabMenu::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
} */