#root {
  /* max-width: 70vw;
  max-width: 70dvw;
  min-width: 70vw;
  min-width: 70dvw;
  min-height: 100vh; */
  /* max-height: 20vh; */
  margin: auto;
  text-align: center;
  margin-bottom: 2%;

}

.appsize {
  transform: scale(0.75);
  transform-origin: top left;
  width: 133.33%;
}


.top-container {
  /* position: sticky; */
  background-image: url("../src/assets/cover5.png");
  background-repeat: no-repeat;
  background-attachment: fixed;

  /* background-color: #eeeded; */
  padding-top: 1%;
  padding-bottom: 20%;
  z-index: 100;
  padding-left: 12%;
  padding-right: 12%;

}


.read-the-docs {
  color: #888;
}

.avatar {
  background-color: #2196F3;
  color: #ffffff
}

.logoImg {
  width: 220px;
}

.chartDiv {
  background-color: #EFF3F8;
  padding: 4%;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.avatarLogout {
  display: flex;
  gap: 10px;
  align-items: center
}

.chart {
  /* min-width: 50vw; */
  width: 70vw;
  display: flex;
  justify-content: center;

}

.filters {
  padding: 2%;
  background-color: #053B50;
  color: white;
  min-width: 70vw;
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);

}

.vacations {
  background-color: #EFF3F8;
  background-image: url("../src/assets/background.png");
  background-size: 100vw;
  /* Adjust to your preferred size */
  /* background-repeat: no-repeat; */
  /* Prevent image repetition */
  /* background-attachment: fixed; */

}

.vacationCard {
  background-color: #FFFFFF;
  height: 540px;
  border-radius: 10px;
  box-shadow: 2px 5px 7px 5px rgba(0, 0, 0, 0.2)
}

.destination {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  z-index: 1;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6)
}

.cardDate {
  position: relative;
  margin-bottom: 1%;
  background-color: #5ddcfc;
  padding-top: 2%;
  padding-bottom: 2%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 1;
}

.scroller {
  padding-left: 5%;
  text-align: left;
  color: #495057;
  position: relative;
  margin-top: -8px;
  width: 350px;
  height: 160px;
  background-color: #FFFFFF;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 2;
}

.heartBtn .pi {
  font-size: 24px;
}

.vacationPrice {
  /* border-radius: 10px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0.1%; */
  margin-top: 1%;
  text-align: right;
  /* background-color: #176B87; */
  margin-right: 3%;
  margin-left: 3%;
  font-weight: 300;
  padding-left: 2%;
  padding-right: 2%;
}

.followerDiv {
  padding-left: 7%;
  padding-right: 5%;
  margin-top: -3%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vacationList {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  /* max-width: 100vw;
  max-width: 100dvw;
  min-width: 100vw;
  min-width: 100dvw;
  margin: auto;
  transform-origin: top left; */

}


.paginator {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.mainVacation {
  width: 100vw;

}

.mainVacationUser {
  margin-top: -3%;
  width: 100vw;
}

.vacationsAdmin {
  background-color: #EFF3F8;
  color: #495057;
  display: flex
}

.logoutB {
  background-color: #176B87;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  color: white;
  border: 0px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  font-weight: 300;
  border-radius: 50px
}

.logoutB:hover {
  background-color: #2f85a1;
}

.speedDial {
  position: relative;
  top: 0
}

.links {
  color: #00CCFF;
  cursor: pointer;
}

.links:hover {
  color: #3490af;
  cursor: pointer;
}

.buttons {
  background-color: #176B87;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  color: white;
  border: 0px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  font-weight: 300;
}

.buttons:hover {
  background-color: #2f85a1;
}

.welcome {

  font-size: medium;
  font-weight: 400;

}

.avatarDiv {
  margin-top: -5%;
}

.addNewVacationDiv {
  background-color: #053B50;
  color: #495057;
  padding-top: 1%;
  padding-bottom: 1%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


@media (max-width: 768px) {
  #root {
    max-width: 70vw;
    max-width: 70dvw;
    min-width: 70vw;
    min-width: 70dvw;
    max-height: 1000vh;
    /* min-height: 100vh; */
    margin: auto;
    text-align: center;
    margin-bottom: 2%;
  }

  .appsize {
    transform: scale(1);
    /* 75% scaling */
    transform-origin: top left;
    /* Maintain top-left corner as the scaling origin */
    width: 100%;
    /* Compensate for the scaling by increasing width */
    /* height: 100%; */
    /* Compensate for the scaling by increasing height */
  }

  .top-container {
    margin-left: -25%;
    margin-right: -25%;
    position: sticky;
    top: 0;
    background-color: #EEEEEE;
    padding-top: 1em;
    z-index: 100;
  }

  .addNewVacationDiv {
    margin-top: 2%;
    /* background-color: #C0C0C0;
    color: #495057;
    padding-top: 1%;
    padding-bottom: 1%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
  }


  .speedDial {
    right: 50px;
    top: 35px;



  }

  .vacations {
    background-color: #D0DFEC;
  }

  .vacationsAdmin {
    background-color: #D0DFEC;
    color: #495057;
    display: flex
  }

  .mainVacation {
    width: 100vw;
  }

  .mainVacationUser {
    width: 100vw;
  }


  .filters {
    padding: 2%;
    background-color: #053B50;
    color: white;
    min-width: 350px;
    /* min-width: 80vw; */
    font-size: 70%;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }


  .checkbox {
    display: flex;
    align-items: center
  }

  .chart {
    min-width: 370px;
  }

  .logoImg {
    width: 130px;
  }

  .welcome {
    font-size: small;
    font-weight: 300;

  }

  .avatar {
    font-size: 1.5rem;
    width: 50%;

  }

  .logoutB {
    width: 100%;
    height: 100%;
    font-size: small;
    display: flex;
    align-items: center;
    border-radius: 50px
  }

  /* .tabMenu {
    height: 50%;
  } */
}

/* .tabMenu .p-menuitem-text {
  color: #3B82F6
} */

/* .tabMenu::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
} */