#root {
  max-width: 70vw;
  max-width: 70dvw;
  min-width: 70vw;
  min-width: 70dvw;
  margin: auto;
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.read-the-docs {
  color: #888;
}

.top-container {
  position: sticky;
  top: 0;
  background-color: #d0dfec;
  padding-top: 1em;
  z-index: 100;
}

.avatar {
  background-color: #2196F3;
  color: #ffffff
}

.logoImg {
  width: 180px;
}

.chart {
  min-width: 700px;
}

.vacations {
  min-width: 1350px;
}

@media (max-width: 768px) {
  .top-container {
    margin-left: -20%;
    margin-right: -20%;

  }

  .vacations {
    min-width: 350px;
  }

  .chart {
    min-width: 300px;
  }

  .logoImg {
    width: 100px;
  }

  .welcome {
    font-size: x-small;
  }

  .avatar {
    font-size: 1.5rem;
    width: 50%;
    /* Adjust the avatar icon size */
  }

  .logoutB {
    font-size: 0.2rem;
    width: 100%;
    height: 60%;
    /* Adjust the button font size */
  }

  .tabMenu {
    height: 50%;
  }
}

/* .tabMenu .p-menuitem-text {
  color: #3B82F6
} */

/* .tabMenu::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
} */